extends ../layout.pug

block content
  Header.Header
    div.container
      div.row
        article.col-12
          a.link-style(href="/admin") Inicio
  section.container
    div.row
      article.col-12
        form(method="POST", action="/agregar-evento", enctype="multipart/form-data")
          div.form-group
            label(for="titulo-evento") Titulo del evento
            input#titulo-evento.form-control(name="titulo", type="text", placeholder="Bautizo")
          div.form-group
            label(for="descripcion-evento") Descripcion del evento
            textarea#descripcion-evento.form-control(name="descripcion", rows="3", placeholder="El evento se realizo ....")
          div.form-group
            label(for="imagen-evento") Imagen
            input.form-control-file#imagen-evento(type="file", name="imagen", accept="image/*")
          button.btn.btn-primary(type="submit") Guardar
          a.btn.btn-danger(href="/admin") Cancelar