h3.text-uppercase.text-center= title
section.action.col-10
  div.row
    div.col-2.text-left
      a(href="/admin") Inicio
      //- span.oi.oi-home
    div.col-2.text-left
      a(href="/agregar-evento") agregar
table.table.table-striped
  thead
    tr
      th(scope='col') Nombre
      th(scope='col') Descripcion
      th(scope='col') Imagen
      th
      th
  tbody
    if(data.length)
      each evento in data
        tr
          td #{evento.nombre}
          td #{evento.descripcion}
          td
            img(src=`images/eventos/${evento.imagen}`, width="40%")
          td
            a(href="/editar-evento/"+evento.id)
              span.oi.oi-pencil
          td
            form(method="post", action="/eliminar-evento/"+evento.id)
              input(type="hidden", name="_method", value="DELETE")
              input.button.delete(type="submit", value="Eliminar", onclick="eliminar(this)")