doctype html
html(lang="es")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="./vendors/bootstrap.min.css")
    link(rel="stylesheet", href="./fonts.css")
    link(rel="stylesheet", href="./style.css")
  body
    section.container-fluid.section-father
      .row
        aside.col-3.aside
          div.text-center
            img.rounded-img.img-fluid(src="images/avatar.png")
            h6.avatar-name Sebastian Moriones
            small Administrador
            nav.menu
              ul.menu-content
                li.menu-list
                  a.menu-link.icon-folder.font-ubuntu(href="/category") Categorias
                li.menu-list
                  a.menu-link.icon-cart.font-ubuntu(href="/dishes") Platos
                li.menu-list
                  a.menu-link.icon-file-text.font-ubuntu(href="/ingredients") Ingredientes
                li.menu-list
                  a.menu-link.icon-calendar.font-ubuntu(href="/events") Eventos
                li.menu-list
                  a.menu-link.icon-bubble.font-ubuntu(href="/comments") Comentarios
        section.col-9.section-content
          div.row
            .col-12
              div#content
                article.col-12.content-categorias
                  h3 Ultimas categorias publicadas
                  div#content-category
                article.col-12.content-platos
                  h3 Ultimos platos publicados
                  div#content-diches
                article.col-12.content-eventos
                  h3 Ultimos eventos publicados
                  div#content-events
  script(src="./admin.js")
  //- script(src="./alert.js")