h3.text-uppercase.text-center= title
section.action.col-10
  div.row
    div.col-2.text-left
      a(href="/admin") Inicio
      //- span.oi.oi-home
    div.col-2.text-left
      a(href="/agregar-categoria") agregar
table.table.table-striped
  thead
    tr
      th(scope='col') Nombre
      th(scope='col') Descripcion
      th(scope='col') Nombre encargado
      th
      th
  tbody
    if(data.length)
      each category in data
        tr
          th(scope='row') #{category.nombrec}
          td #{category.descripcion.slice(0,100) + '...'}
          td #{category.nom_encargado}
          td
            a(href="/editar/"+category.id)
              span.oi.oi-pencil
          td
            a(href="/eliminar/"+category.id)
              span.oi.oi-trash
    else
      p No hay registros