img{max-width: 100%;}
.aside{
  background-color: #cf2a27;
  height: 100%;
  color: white;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 23%;
  z-index: 10;
}
.section-content{
  background-color: white;
  margin-left: 25%;
}
#content-category, #content-diches, #content-events{
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.card{
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.rounded-img{
  border-radius: 50%;
  width: 50%;
  margin-top: 1rem;
}
.avatar-name{
  font-weight: bold;
}
.menu{
  margin-top: 1em;
}
.menu-content{
  padding: 0;
}
.menu-list{
  list-style: none;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: .5rem;
}
.menu-link{
  color: white;
  display: block;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  margin-bottom: .8em;
}
.menu-icon{
  margin-right: 15px;
}
.Header{
  background: #cf2a27;
  color: white;
  padding: .3em;
  font-size: 1.3em;
  margin-bottom: 1em;
}
.link-style{
  color: white;
}
.link-style:hover{
  color: rgba(255,255,255,0.9);
}
.section-father{
  position: relative
}

.menu-link::before {
  font-family: 'icomoon' !important;
  margin-right: 10px;
}
.commentary{
  display: flex;
  flex-direction: row;
  margin-bottom: 4%;
}
.comment-action{
  display: flex;
  flex-direction: column;
  width: 3%;
  align-items: center;
  justify-content: center;
}
.comment-link{
  width: 100%;
  text-align: center;
  padding: 5px;
  color: white;
}
.comment-link.edit{
  background-color: green;
}
.comment-link.delete{
  background-color: red;
  border: 0;
  content: "\e9ac";
  cursor: pointer;
}
.comment{
  display: flex;
  width: 80%;
  box-shadow: 3px 3px 2px -3px #212121;
  border-radius: 0 0 14px 0;
  padding: 0 3% 2% 0;
}
.comment-img{border-radius: 50%;width: 84px;height: 84px;}
.comment-person{
  width: 15%;
}
.comment-img{
  border-radius: 50%;
}
.comment-leyend{
  margin-top: 10px;
  text-align: right;
  width: 100%;
}
.font-ubuntu{
  font-family: 'Ubuntu' !important;
}