extends ../layout.pug

block content
  header.Header
    div.container
      div.row
        article.col-12
          a.link-style(href="/admin") Inicio
  section.container
    div.row
      article.col-12
        form(method="POST", action="/agregar-ingrediente/"+id)
          div.form-group
            label(for="nombre-ingrediente") Nombre
            input#nombre-ingrediente.form-control(type="text", placeholder="Sal", name="nombre_ingrediente")
          div.form-group
            label(for="almacen-ingrediente") Almacen
            input#almacen-ingrediente.form-control(type="text", placeholder="Campanario", name="almacen_ingrediente")
          div.form-group
            label(for="unidades-ingrediente") Unidades
            input#unidades-ingrediente.form-control(type="text", placeholder="10", name="unidades_ingrediente")
          button.btn.btn-primary(type="submit") Guardar
          a.btn.btn-danger(href="/admin") Cancelar