extends ../includes/layout.pug
  h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis libero repellat atque commodi accusantium quis excepturi eius similique ipsa illum sint ex accusamus ea, quibusdam molestiae non veritatis quisquam dolorum.sdfsdf