img{ max-width: 100%; }
.content{
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
}
.fixed-left {
  width: 20%;
  position: fixed;
  top: 0;
  bottom: 0;
}
.content-aside{
  margin-left: 21%;
}

.window-modal{
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.51);
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}
.content-modal{
  background-color: white;
  width: 50%;
  padding: .5em;
  position: relative;
  border-radius: .5em;
}
.close-modal{
  position: absolute;
  top: -11px;
  right: -5px;
  background: black;
  color: white;
  font-weight: bold;
  padding: .2em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}
.block-or-not {visibility: hidden !important;}

/*.message {
  position: absolute;
  background-color: #76FF03;
  color: white;
  font-weight: bold;
  padding: 1em;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  visibility: visible;
  transition: 1s all ease;
}*/

.header  {
  text-align: right;
}
.delete {
  background-color: rgb(182, 9, 9);
}
.container-card{
  width: 90%;
  margin: auto;
}
.card-article{
  display: flex;
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 9px;
  box-shadow: -3px 5px 10px #c4c4c4;
  margin-bottom: 5%;
  padding: 10px;
}
.div1{
  text-align: justify;
  width: 80%;
}
.div-dishes{
  text-align: justify;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content-image {
  width: 30%;
}
figcaption.content-image img {
  width: 300px;
  height: 150px;
}
.div1-content {
  width: 50%;
  margin-left: 2%;
}
.article-title{
  margin: 15px 0;
}
.article-description{
  margin-bottom: 15px;
}
.div2{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}